class Kitout < Formula
  desc "Declarative setup tool for fresh Macs"
  homepage "https://github.com/vwall/kitout"
  version "2.7.0"
  license "MIT"

  on_macos do
    on_arm do
      url "https://github.com/vwall/kitout/releases/download/v2.7.0/kitout_2.7.0_darwin_arm64.tar.gz"
      sha256 "ARM64_SHA256_FROM_RELEASE"
    end

    on_intel do
      url "https://github.com/vwall/kitout/releases/download/v2.7.0/kitout_2.7.0_darwin_amd64.tar.gz"
      sha256 "AMD64_SHA256_FROM_RELEASE"
    end
  end

  def install
    bin.install "kitout"
  end

  test do
    assert_match "kitout #{version}", shell_output("#{bin}/kitout version")

    config = testpath/"kitout.yaml"
    system bin/"kitout", "init", "--config", config
    assert_match "missing", shell_output("#{bin}/kitout status --config #{config}", 1)
  end
end
